.footer__menu-link {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.footer__menu-link:hover {
  opacity: .8;
}

@media screen and (max-width: 800px) {
  .footer__menu-link {
    font-size: 24px;
    line-height: 24px;
  }
}
