.footer__menu-item {
  margin-left: 18px;
}

.footer__menu-item:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  .footer__menu-item {
    margin-left: 0;
    margin-top: 32px;
  }

  .footer__menu-item:first-of-type {
    margin-top: 0;
  }
}
