.footer__menu {
  display: flex;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 18px;
}

@media screen and (max-width: 730px) {
  .footer__menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
