.regions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 48px;
}

@media screen and (max-width: 768px) {
  .regions {
    padding: 88px 24px 90px;
  }
}

@media screen and (max-width: 550px) {
  .regions {
    padding: 64px 0 66px;
  }
}
/*
@media screen and (max-width: 320px) {
  .regions {
    padding: 64px 0 66px;
  }
}*/
