.place__note {
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__note {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__note {
    max-width: 352px;
  }
}

@media screen and (max-width: 550px) {
  .place__note {
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__note {
    margin-left: 16px;
    margin-right: 16px;
  }
}
